.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: ($size + ($margin * 2)) * 7;

  & div {
    display: none;
    @include box-style;
    @include cell-size;
    transition: transform 0.5s;

    &:hover {
      transform: translate(0 , -20px);
      cursor: pointer;
      background-color: #f3beca;
    }
  }

  @for $i from 28 through 31 {
    &-#{$i} {

      @for $j from 1 through $i {
        & :nth-child(#{$j}) {
          @include display;

          &::after {
            content: "#{$j}";
          }
        }
      }
    }
  }

  @each $name, $amount in $name-of-days {
    &-#{$name} {
      div:first-child {
        margin-left: $margin + ($size + ($margin * 2)) * $amount;
      }
    }
  }
}
